PORT=8080
INQUIRIES_API_KEY=replace-with-your-key
JOIN_TEAM_API_KEY=replace-with-your-key
ANNOUNCEMENTS_API_KEY=replace-with-your-key
INQUIRIES_ENDPOINT=https://portal.themegaparagon.net/api/v1/website/inquiries
JOIN_TEAM_ENDPOINT=https://portal.themegaparagon.net/api/v1/website/join-team
ANNOUNCEMENTS_ENDPOINT=https://portal.themegaparagon.net/api/v1/announcements
